---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A proppos | Hela Talbi" description="About HEla Talbi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi-même et mon parcours."
			>
				
			</Hero>

			
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p><strong>Sep 2021 - en cours</strong><br>Diplôme national d’ingénieur en génie logiciel à ESPRIT (Ecole Supérieure Privée d'Ingénieurie et de Technologie)</p>
					<p><strong>Sep 2020 – Juin 2021</strong><br>Cycle préparatoire à la Faculté des sciences de Tunis(FST)</p>
					<p><strong>Sep 2019 – Juin 2019</strong><br>Diplôme du baccalauréat scientifique à lycée de la liberté mhamdia</p>


				</div>
			</section>
			
			<section>
				<h2 class="section-title">Projets Académiques</h2>
				<div class="content">
					<p><strong>Site web de commerce : INDUSMARKET </strong><br>Une application web de commerce électronique basée sur Spring Boot et Angular, cette plateforme offre une expérience d'achat sécurisée et interactive pour les produits industriels. Elle intègre des technologies clés telles que Java, Maven, Hibernate ORM, RESTful web services, Spring Security, JWT, Stripe payment, et exploite la puissance d'Angular, TypeScript, RxJs, et les WebSockets pour créer une expérience utilisateur réactive et fluide. </p>
					<p><strong>Site web de gestion des contrats d'étudiants  : kaddem </strong><br>Le projet "Kaddem" est une initiative multidisciplinaire qui combine le développement back-end basé sur Spring Boot, le développement front-end avec Angular, et la gestion DevOps pour créer une application complète de gestion des contrats d'étudiants.</p>
					<p><strong>Application desktop de gestion d'esprit : Smart Esprit </strong><br>Application desktop pour la gestion d'ESPRIT a été développée sous Linux en utilisant le langage C et l'outil de conception d'interface graphique interactive GTK+, GLADE.</p>
                    <p><strong>Agence Immobilière : VIVALAVILLA  </strong><br>Une application d'agence immobilière créé avec Symfony (PHP) pour gérer les biens immobiliers en utilisant Doctrine ORM et MySQL pour la base de données. En parallèle, une interface JavaFX offre une expérience conviviale pour la gestion et la recherche de biens, le tout soutenu par RESTful API pour une intégration facile . </p>				
				</div>
			</section>
			<section>
				<h2 class="section-title">Stages</h2>
				<div class="content">
					<p><strong>Juin 2023-Aout 2023</strong><br><strong>Stage d'été à Poulina Group Holding :</strong><br>Site web de communication de Poulina est une plateforme intelligente qui tire parti de la technologie .NET Microservices et d'Angular pour offrir une expérience de communication fluide et efficace aux membres de l'entreprise.  </p>
					<p><strong>Juin 2022-Juillet 2022</strong><br><strong>Stage d'été à L’Institut National de la Statistique, Tunis.(INS) :</strong><br>Un site WordPress convivial offre une interface facile à naviguer, une conception réactive, des partages sociaux, des profils, des commentaires, des messageries. Les plugins et widgets améliorent la fonctionnalité, permettent des mises à jour rapides.</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p><strong>Langages de programmation :</strong><br>Python, C#, .Net, Java, JavaScript, HTML, CSS, PHP, C, C++, UML</p>
					<p><strong>Frameworks et bibliothèques :</strong><br> Spring Boot, Angular, JavaFX, Symfony, Bootstrap</p>
					<p><strong>Gestion de versions et DevOps :</strong><br> Git, GitHub, DevOps, Jenkins, Docker, Nexus, Grafana, Prometheu</p>
					<p><strong>Bases de données :</strong><br> MongoDB, SQL Server, MySQL>
					<p><strong>CMS :</strong><br>WordPress</p>
					<p><strong>Systèmes d'exploitation :</strong><br>Linux (Ubuntu)</p>

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
